<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datlichkham">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DatLichKham"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".fragment.nguoidung.DoiMatKhauActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:theme="@style/Theme.DatLichKham.NoActionBar" />
        <activity android:name=".ChiTietPhieuKhamActivity" />
        <activity android:name=".DatLichActivity" />
        <activity android:name=".BangTinActivity" />
        <activity android:name=".CapNhatThongTinActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DangKiActivity"></activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>